[submodule "data/cf"]
	path = data/cf
	url = https://github.com/C0rn-Fl4k3s/civitai-wildcards.git
[submodule "data/others"]
	path = data/others
	url = https://github.com/bluelovers/sd-wildcards-collection.git
