registry=https://registry.npmmirror.com
color=always
public-hoist-pattern[]=escape-split
public-hoist-pattern[]=expect
public-hoist-pattern[]=undici-types
public-hoist-pattern[]=jsonfile
public-hoist-pattern[]=pretty-format
public-hoist-pattern[]=@types/*
